remote {{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }} {{ ovpn_port }}
dev {{ ovpn_dev }}
ifconfig {{ hostvars[ovpn_client_host].local_ip }} {{ local_ip }}
secret {{ ovpn_client_key }}
cipher {{ ovpn_cipher }}
keepalive {{ ovpn_client_keepalive }}
nobind
